!!! 5
%html
  %head
    %title Cileos - Creative Software Builders

    = stylesheet_link_tag "normalize", "site"
    = javascript_include_tag "all"

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %script{type: "text/javascript", src: "//use.typekit.net/dxo8tbv.js"}

    :javascript
      try{Typekit.load();}catch(e){}

  %body
    = partial "layouts/impressum_header"

    = yield

    = partial "layouts/footer"
